MW/WAS/wlp/bin/*
MW/WAS/wlp/clients/*
MW/WAS/wlp/dev/*
MW/WAS/wlp/java/*
MW/WAS/wlp/lafiles/*
MW/WAS/wlp/lib/*
MW/WAS/wlp/templates/*
MW/WAS/wlp/CHANGES.TXT
MW/WAS/wlp/Copyright.txt
MW/WAS/wlp/README.TXT
MW/WAS/wlp-webProfile8-java8-linux-x86_64-24.0.0.6.zip
MW/logs/*
MW/IIM/agent.installer.linux.gtk.x86_64_1.9.2008.20240227_0018.zip
MW/IIM/configuration/*
iso/rhel-9.4-x86_64-boot.iso
MW/WAS/wlp/usr/servers/testdb/resources/security/*
MW/WAS/wlp/usr/servers/testdb/logs/*
MW/WAS/wlp/usr/servers/testdb/tranlog/*
MW/WAS/wlp/usr/servers/testdb/workarea/*
